  DB_USER=postgres (usuario de conexão do banco de dados)
  DB_NAME=goomer (nome do banco de dados)
  DB_PASS=1234 (senha de conexão do banco de dados)
  DB_PORT=5432 (porta de conexão do banco de dados)
  DB_HOST=localhost (local de conexão do banco de dados)
